html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, footer, header, hgroup, menu, nav, output, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: 300 100%/1.5 Oxygen,"Helvetica Neue",Arial,sans-serif;
  vertical-align: baseline;
  outline: none;
}
html { height: 101%; }
body { font: 300 100%/1.5 Oxygen,"Helvetica Neue",Arial,sans-serif; font-size: 62.5%; line-height: 1; padding-bottom: 65px; background: #444 url('../images/bg.png'); }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

blockquote, q { quotes: none; }
strong { font-weight: bold; }

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

h1 {
  font: 300 110%/1.5 Oxygen,"Helvetica Neue",Arial,sans-serif;  font-weight: normal;
  font-size: 2.95em;
  line-height: 1.2em;
  letter-spacing: -.0.03em;
  color: #d8d8d8;
  margin-bottom: 16px;
}

p { font-size: 1.7em; line-height: 1.45em; margin-bottom: 15px; color: #d8d8d8; }

a { color: #5b77a4; text-decoration: underline; }
a:hover { color: #7d94bb; }


#w {
  display: block;
  width: 780px;
  padding: 14px 15px;
  margin: 0 auto;
  margin-top: 45px;
  position: relative;
}

#content {
  display: block;
  padding: 14px 20px;
}

#logo { display: block; border: 1px solid #232323; border-bottom-width: 0; margin-top: 0px; }
#logobg { 
  display: block;
  width: 100%;
  height: 231px;
  background: url('../images/header.jpg') top left no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* top navigation */
#navigation {
  display: block;
  height: 35px;
  background-color: #131313;
}

#navigation ul { list-style: none; padding: 0px 7px; }

#navigation ul li { display: inline; float: left; }
#navigation ul li a { 
  display: block; 
  padding: 0 8px; 
  color: #d8d8d8;
  font-size: 1.75em;
  text-decoration: none;
  line-height: 35px; 
  font-weight: bold; 
  margin-right: 6px;
  text-shadow: 1px 1px 1px #000;
}
#navigation ul li a:hover { color: #a8d6e7; }